<section class="delivery">
  <div class="container">
    <a href="#" class="js-open-modal modal__link" data-modal="1">Открыть окно 1</a>
    <h2 class="visually-hidden">delivery</h2>
    <div class="delivery__wrapper">
      <button class="delivery__btn-right delivery__button">&gt;</button>
      <button class="delivery__btn-left delivery__button">&lt;</button>
      <ul class="delivery__list">
        <li class="delivery__item">
          <h3 class="delivery__title">Free Shipping</h3>
          <p class="delivery__text">Last Chance! Free shipping on all orders ends today.</p>
        </li>
        <li class="delivery__item">
          <h3 class="delivery__title">Quick Packaging</h3>
          <p class="delivery__text">Last Chance! Free shipping on all orders ends today.</p>
        </li>
        <li class="delivery__item">
          <h3 class="delivery__title">100% Money Back</h3>
          <p class="delivery__text">Last Chance! Free shipping on all orders ends today.</p>
        </li>
        <li class="delivery__item">
          <h3 class="delivery__title">Fast Delivery</h3>
          <p class="delivery__text">Last Chance! Free shipping on all orders ends today.</p>
        </li>
        <li class="delivery__item">
          <h3 class="delivery__title">Free Shipping</h3>
          <p class="delivery__text">Last Chance! Free shipping on all orders ends today.</p>
        </li>
        <li class="delivery__item">
          <h3 class="delivery__title">Quick Packaging</h3>
          <p class="delivery__text">Last Chance! Free shipping on all orders ends today.</p>
        </li>
        <li class="delivery__item">
          <h3 class="delivery__title">100% Money Back</h3>
          <p class="delivery__text">Last Chance! Free shipping on all orders ends today.</p>
        </li>
        <li class="delivery__item">
          <h3 class="delivery__title">Fast Delivery</h3>
          <p class="delivery__text">Last Chance! Free shipping on all orders ends today.</p>
        </li>
      </ul>
      <div class="modal" data-modal="1">
        <!--   Svg иконка для закрытия окна  -->
        <svg
          class="modal__cross js-modal-close"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
          />
        </svg>
        <p class="modal__title">Title number one</p>
      </div>
    </div>
  </div>
</section>
