<footer class="footer">
  <div class="container footer__container">
    <div class="footer__sidebar">
      <img src="../src/images/logo-polar.png" alt="" class="logo__foooter" />
      <p class="footer__text">
        Some food has looked so awful that it's looked like something that the dog's brought home.
      </p>
      <p class="footer__subtitle">Fllow Us</p>
      <ul class="footer-social__list">
        <li>
          <a href="">
            <img src="images/facebook 1.png" alt="" />
          </a>
        </li>
        <li>
          <a href="">
            <img src="images/twitter 1.png" alt="" />
          </a>
        </li>
        <li>
          <a href="">
            <img src="images/instagram 1.png" alt="" />
          </a>
        </li>
        <li>
          <a href="">
            <img src="images/linkedin 1.png" alt="" />
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-nav">
      <ul class="footer-nav__list">
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Home</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Product</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Blog</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Pricing</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Testimonials</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="footer-info">
      <ul class="footer-info__list">
        <li class="footer-info__item">
          <a href="" class="footer-info__link">Delivery Information</a>
        </li>
        <li class="footer-info__item">
          <a href="" class="footer-info__link">Privacy Policy</a>
        </li>
        <li class="footer-info__item">
          <a href="" class="footer-info__link">Terms & Condition</a>
        </li>
        <li class="footer-info__item">
          <a href="" class="footer-info__link">Search Terms</a>
        </li>
        <li class="footer-info__item">
          <a href="" class="footer-info__link">Order & Return</a>
        </li>
      </ul>
    </div>
    <div>
      <strong class="footer__strong">Newsletter</strong>
      <form class="footer__form">
        <input type="text" placeholder="Your Email" class="footer__input" />
        <button type="submit" class="footer__button">Subscribe</button>
      </form>
      <ul class="footer__payment">
        <li class="footer-payment__item">
          <a href="" class="footer-payment__link">
            <svg width="19" height="22">
              <use href="images/symbol-defs.svg#icon-Group-3"></use>
            </svg>
          </a>
        </li>
        <li class="footer-payment__item">
          <a href="" class="footer-payment__link">
            <svg width="34" height="21">
              <use href="images/symbol-defs.svg#icon-Group-117"></use>
            </svg>
          </a>
        </li>
        <li class="footer-payment__item">
          <a href="" class="footer-payment__link">
            <svg width="65" height="35">
              <use href="images/symbol-defs.svg#icon-Group-118"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
