<section class="hero">
  <div class="container hero__container">
    <div>
      <span class="hero__text">Sweet fun, full of milk.</span>
      <h1 class="hero__title">
        Feel inside cold with our delicious <span class="hero__title--accent">ice-cream.</span>
      </h1>
      <p class="hero__description">
        Some food has looked so awful that it's looked like something that the dog's brought home,
        yet after one mouthful I've been left eating my thoughts, my words.
      </p>
      <button class="primary__btn">Buy Now</button>
    </div>
    <img src="images/ice-cream.png" alt="ice-cream" width="460px" />
  </div>
</section>
