<section class="order">
  <div class="container order__container">
    <div class="order__wrapper">
      <div class="order__thumb">
        <img src="images/image 28.png" alt="" />
      </div>

      <div class="order__box">
        <h3 class="order__subtitle">Raspberry ice cream</h3>
        <p class="order__text">with strawberry cream</p>
        <ul class="decoration__list">
          <li class="decoration__item"></li>
          <li class="decoration__item"></li>
          <li class="decoration__item"></li>
          <li class="decoration__item"></li>
          <li class="decoration__item"></li>
        </ul>
        <span class="order__price">1.56$</span>
        <button type="button" class="order__button">Add to bag</button>
      </div>
    </div>
    <div class="order__content">
      <h2 class="order__title">Simple way to order your food</h2>
      <p class="order__description">
        Some food has looked so awful that it's looked like something that the dog's brought home,
        yet after one mouthful I've been left eating my thoughts.
      </p>
      <ul class="order__list">
        <li class="order__item">
          <a href="" class="order__link">Select Your Food</a>
        </li>
        <li class="order__item">
          <a href="" class="order__link">Add To Cart</a>
        </li>
        <li class="order__item">
          <a href="" class="order__link">Order Your Food</a>
        </li>
      </ul>
      <ul class="download__list">
        <li>
          <button class="download__button">
            <img src="images/playmarket.png" alt="" />
          </button>
        </li>
        <li>
          <button class="download__button">
            <img src="images/appstore.png" alt="" />
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
