<section class="products">
  <div class="container">
    <h2 class="product__title">Our Product</h2>
    <ul class="filter__list">
      <li class="filter__item">ICE CREAM</li>
      <li class="filter__item">CAYENNE CHOCOLATE</li>
      <li class="filter__item">CAKE BATTER</li>
      <li class="filter__item">CANDY CANE</li>
      <li class="filter__item">PLATTERS</li>
      <li class="filter__item">DESSERT</li>
    </ul>
    <ul class="products__list">
      <li class="products__item">
        <img src="images/products1.jpg" alt="" />
        <div class="products__box">
          <h3 class="products__subtitle">Brown bread</h3>
          <p class="products__description">
            Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the
            healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
          </p>
          <span class="product__price">$19.55</span>
          <span class="products__price--old">$22.55</span>
          <button class="products__btn">Buy Now</button>
        </div>
      </li>
      <li class="products__item">
        <img src="images/products1.jpg" alt="" />
        <div class="products__box">
          <h3 class="products__subtitle">Cayenne chocolate</h3>
          <p class="products__description">
            Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the
            healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
          </p>
          <span class="product__price">$19.55</span>
          <span class="products__price--old">$22.55</span>
          <button class="products__btn">Buy Now</button>
        </div>
      </li>
      <li class="products__item">
        <img src="images/products1.jpg" alt="" />
        <div class="products__box">
          <h3 class="products__subtitle">Sweet corn</h3>
          <p class="products__description">
            Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the
            healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
          </p>
          <span class="product__price">$19.55</span>
          <span class="products__price--old">$22.55</span>
          <button class="products__btn">Buy Now</button>
        </div>
      </li>
      <li class="products__item">
        <img src="images/products1.jpg" alt="" />
        <div class="products__box">
          <h3 class="products__subtitle">Adele A. McNeill</h3>
          <p class="products__description">
            Thanks a lot for the prompt service. Really appreciate. Excellence taste in Every
            Bite.Add a joy of best Taste. Foodie Moments.
          </p>
          <span class="product__price">$19.55</span>
          <span class="products__price--old">$22.55</span>
          <button class="products__btn"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
