<section class="together">
  <div class="container together__container">
    <div class="together__box">
      <h2 class="together__title">Brown Sugar Oatmea</h2>
      <p class="together__text">
        Together with McDonald’s, Burger King has grown to become synonymous with burgers in the
        US.Together with McDonald’s, Burger King has grown to become synonymous.
      </p>
      <button class="together__btn" type="button">See Details</button>
    </div>
    <img src="images/together-img.png" alt="" />
  </div>
</section>
